<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785993329168-tkpb1b04vtfhlpmneul0eibp3muagrcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785993329168-tkpb1b04vtfhlpmneul0eibp3muagrcd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785993329168-iqv3g1ctl0k13u0ngj0ncsddtojmpkb2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZzUIq1ODM3oVnOmKlSdoTiYZneXjjraY</string>
	<key>GCM_SENDER_ID</key>
	<string>785993329168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dct.summittrack</string>
	<key>PROJECT_ID</key>
	<string>summittrack-10481</string>
	<key>STORAGE_BUCKET</key>
	<string>summittrack-10481.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785993329168:ios:db14d968863e14181cf895</string>
	<key>DATABASE_URL</key>
	<string>https://summittrack-10481-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>